.data{
	width:100%;
}

#fileUploadDiv{
	height:100%;
	width:13%;
	float:left;
}
#leftDiv{
	height:100%;
	width:70%;
	float:left;
}
#rightDiv{
	height:100%;
	width:17%;
	float:left;
}
#content { 
	height:93%;
	width:100%;
    background:#ddd; 
	resize:none;
	padding:0px;
    /*border-radius:2%;
    border:1px solid #CCC; */
    margin:0px;
	border:0px;
	padding:2px;
}
/*
#nameDiv{
	display:none;
	height:50%;
	width:100%;
}
#name { 
	margin-top:2px;
	margin-left:4px;
    background:#ddd; 
    border-radius:5px;
    border:0px solid #CCC; 
	height:80%;
	width:80%;
	text-align:center; 
}*/

#sendDiv{
	height:50%;
	width:100%;
}
#sendDiv input{ 
	margin-top:2px;
	margin-left:5%;
	width:85%;
}

#input { 

/*
    border-radius:2px; 
    border:1px solid #ccc;
    margin-top:10px; 
    padding:5px;*/ 
}


/*聊天气泡*/
/*聊天头像*/
.headImg{
	width:30px;
	height:30px;
	float:left;
}
.send {
	white-space:normal;
	position:relative;
	max-width:80%;
	background:#FFFFFF;
	border-radius:5px; /* 圆角 */
	margin:1px auto 0;
	word-break: break-all;
	word-wrap: break-word;
	height:auto;
	min-height:18px;
	/*字边距*/
	padding:2px 2px 2px 2px;
	margin-left:12px;
	float:left;
}
.historyRight{
	margin-right:12px;
	float:right;
}
.send .rightArrow {
	position:absolute;
	top:5px;
	right:-12px; /* 圆角的位置需要细心调试哦 */
	width:0;
	height:0;
	font-size:0;
	border:solid 6px;
	/*border-color:#4D4948 #4D4948 #4D4948 #F8C301;*/
	border-color:#4D4948 #4D4948 #4D4948 #FFFFFF;
}
.send .leftArrow {
	position:absolute;
	top:5px;
	left:-12px; /* 圆角的位置需要细心调试哦 */
	width:0;
	height:0;
	font-size:0;
	border:solid 6px;
	border-color:#4D4948 #FFFFFF #4D4948 #4D4948;
}

/*头部固定*/
html, body {
    height:100%;
    margin:0;
    padding:0
}
#dHead {
    height:30px;
    line-height:30px;
    background:#690;
    width:100%;
    position:absolute;
    z-index:5;
    top:0;
    text-align:center;
}
#dBody {
    /*background:#FC0;*/
    width:100%;
    overflow:auto;
    top:30px;
    position:absolute;
    z-index:10;
    bottom:50px;
}
.mycontent {
    padding:5px;
}
#dFoot {
    height:50px;
    /*line-height:100px;*/
    background:#690;
    width:100%;
    position:absolute;
    z-index:200;
    bottom:0;
    text-align:center;
}

/**
 * 表情格式
 */

#emoji {
    height:116px;
    /*line-height:100px;*/
    background:white;
    width:100%;
    position:absolute;
    z-index:201;
    bottom:0;
    text-align:center;
	margin-bottom: 50px;
}/*
#openEmojiBtn {
	margin-top:2px;
	margin-left:5%;
	width:85%;
}*/
table{
	border-collapse:collapse;
	width:100%;
}
th, td
{
  text-align:center;
  border: 1px solid gray;
}


/*
 *MenuStyle 
 *Generated via www.cssmenubuilder.com 
 */

.menu{margin:0 auto; padding:0; height:30px; width:100%; display:block; background:url('../images/topMenuImages.png') repeat-x;}
.menu li{padding:0; margin:0; list-style:none; display:inline;}
.menu li a{float:left; padding-left:15px; display:block; color:rgb(32,190,247); text-decoration:none; font:12px Verdana, Arial, Helvetica, sans-serif; cursor:pointer; background:url('../images/topMenuImages.png') 0px -30px no-repeat;}
.menu li a span{line-height:30px; float:left; display:block; padding-right:15px; background:url('../images/topMenuImages.png') 100% -30px no-repeat;}
.menu li a:hover{background-position:0px -60px; color:rgb(255,255,255);}
.menu li a:hover span{background-position:100% -60px;}
.menu li a.active, .menu li a.active:hover{line-height:30px; font:12px Verdana, Arial, Helvetica, sans-serif; background:url('../images/topMenuImages.png') 0px -90px no-repeat; color:rgb(242,136,214);}
.menu li a.active span, .menu li a.active:hover span{background:url('../images/topMenuImages.png') 100% -90px no-repeat;}