/** {padding:0px; margin:0px;}*/
body{font-family:tahoma; font-size:12px;margin:10px;background:#4D4948;}
p {line-height:18px;padding:2px;margin:0px;}

td{
color:#ddd;
}

label { font-size: 32px; font-weight: bold; }

input{
background:#ddd; 
}