/** {padding:0px; margin:0px;}*/
body{font-family:tahoma; font-size:12px;margin:10px;background:#4D4948;}
p {line-height:18px;padding:2px;margin:0px;}
html,body{height:100%;overflow:scroll;}
td{
color:#ddd;
}

label { font-size: 32px; font-weight: bold; }

input{
background:#ddd; 
}

.center{
position:fixed;left:50%;top:50%;margin-left:-115;margin-top:-65; text-align: center;
}